*{
    padding: 0px;
    margin: 0px;
    background-color: rgb(6, 41, 71);
}


.age-cal{
    width: 500px;
    height: auto ;
    /* border: 2px solid red; */
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color:rgb(71, 25, 3) ;
    margin-top: 30px;
    box-shadow: 3px 3px 4px white;
}

.age-cal h2{
  
    height: auto;
    
    margin-bottom: 30px;
    color: white;
    background-color:rgb(71, 25, 3) ;
}


.input-cal{
    background-color:   rgb(71, 25, 3);
}
#input-dob{
    padding: 20px;
    border-radius: 10px;
    font-size:x-large;
    color: white;
    background-color: rgb(71, 25, 3);
    border: 3px solid white;
}

.input-cal button{
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(71, 25, 3);
    color: aliceblue;
    border: 3px solid white;
}

.select-age{
    border: 2px solid rgb(27, 26, 26);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 20px;
    background-color: rgb(71, 25, 3);
    
}

.select-age-innerbox{

    width: 150px;
    height: 150px;
    /* border: 2px solid red; */
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(71, 25, 3);
    border: 2px solid black;
    

}

.select-age-innerbox p{
    font-size: x-large;
    font-weight: 800;
    background-color: rgb(71, 25, 3);
    color: aliceblue;
    font-weight: 800;
   
}



