*{
    padding: 0px;
    margin: 0px;
    background-color: rgb(6, 41, 71);
}


.age-cal{
    width: 500px;
    height: auto ;
   
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color:rgb(4, 25, 63) ;
    margin-top: 30px;
    box-shadow: 3px 3px 3px rgb(189, 155, 6);
     border-radius: 20px; 
    
}

.age-cal h2{
    height: auto;
    margin-bottom: 30px;
    color: white;
    background-color:rgb(4, 25, 63) ;
    padding: 10px;
    border-bottom: 5px solid white;
}


.input-cal{
    background-color:rgb(4, 25, 63) ;
}
#input-dob{
    padding: 20px;
    border-radius: 10px;
    font-size:x-large;
    color: white;
    background-color:rgb(138, 174, 241,0.4) ;
    border: 3px solid white;
}

/* .input-cal button{
    padding: 25px;
    border-radius: 10px;
    background-color:rgb(138, 174, 241,0.4) ;
    color: aliceblue;
    border: 3px solid white;
} */

.select-age{
    
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 20px;
    background-color:rgb(4, 25, 63) ;
    gap: 5px;
    
}

.select-age-innerbox{

    width: 150px;
    height: 150px;
   
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(4, 25, 63) ;
    border: 3px solid black;
  

}

.select-age-innerbox p{
    font-size: x-large;
    font-weight: 800;
    background-color:rgb(4, 25, 63) ;
    color: aliceblue;
    font-weight: 800;
   
}



